.portfolioWrapper {
  background-color: var(--background);

  display: flex;
  padding: 80px 100px 120px 100px;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.portfolio {
  text-align: center;
  flex-wrap: wrap;
}

.portfolioTitle {
  color: var(--base-colors-white);

  /* Headings/H2 - Chinoz */
  font-family: Chinoz;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  text-transform: uppercase;

  margin-bottom: 70px;
}

.titleHighlight {
  color: var(--Accent);

  /* Headings/H2 - Chinoz */
  font-family: Chinoz;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.portfolioImages {
  display: flex;

  gap: 20px;
}

@media (max-width: 900px) {
  .portfolioWrapper{
    padding-top:0px;
  }
  .portfolioTitle {
    font-size: 26px;
  }
  .titleHighlight {
    font-size: 26px;
  }

}

@media (max-width: 750px) {
  .portfolioImages {
    flex-wrap: wrap;
    justify-content: center;
  }
}
