.artist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  transition: all 0.2s ease-in-out;
  overflow:hidden;
}

.artist:hover{
    transform: scale(130%);

    .artist{
        background: #656D76;
    }



}

.artistImage {
    border-radius: 15px;
    padding-bottom:25px;

    max-width: 100%;
    height:auto;
}

.artistName {
  color: var(--Accent, #ff512a);

  /* Headings/H5 - Chinoz */
  font-family: Chinoz;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  text-transform: uppercase;

  padding-bottom:5px;
}

.artistDescription {
  color: var(--neutral-colors-light-3, #c6cace);

  /* Paragraphs/Body - Work Sans - Medium */
  font-family: Work Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 25.5px */

  max-width: 398px;
  padding-bottom:20px;
}
