:root {
  /* Colors */

  --base-colors-white: #ffffff;
  --base-colors-black: #131315;

  --neutral-colors-light-1: #f4f5f6;
  --neutral-colors-light-2: #e4e5e7;
  --neutral-colors-light-3: #c6cace;

  --neutrals-colors-dark-1: #656d76;
  --neutrals-colors-dark-2: #282c2f;

  --background: #131315;

  --Accent: #ff512a;
}

h1 {
  color: var(--base-black, #02021c);

  /* Headings/H1 - Chinoz */
  font-family: Chinoz;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 69.6px */
  text-transform: uppercase;
}

h2 {
  color: var(--base-black, #02021c);

  /* Headings/H1 - Chinoz */
  font-family: Chinoz;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 69.6px */
  text-transform: uppercase;
}

h3 {
  color: var(--base-black, #02021c);

  /* Headings/H3 - Chinoz */
  font-family: Chinoz;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  text-transform: uppercase;
}

h4 {
  color: var(--base-black, #02021c);

  /* Headings/H4 - Chinoz */
  font-family: Chinoz;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 31.2px */
  text-transform: uppercase;
}

h5 {
  color: var(--base-black, #02021c);

  /* Headings/H5 - Chinoz */
  font-family: Chinoz;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  text-transform: uppercase;
}
